.modal-info {
  width: 150px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.modal-title {
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
  line-height: 1.55556;
  text-align: center;
  color: #2c2b29;
  margin-bottom: 40px;
}

.modal-title::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 9999px;
  width: 32px;
  height: 4px;
  background: #d9d3c5;
}

.change-button {
  border: 1px solid rgba(144, 121, 46, 0.173);
  border-radius: 12px;
  font-style: italic;
  background-color: transparent;
  transition: linear 250ms;
  padding-left: 20px;
}
.change-button:hover {
  border: 1px solid rgb(184, 146, 20);
}

.delete-button {
  border: 1px solid rgba(144, 121, 46, 0.173);
  border-radius: 12px;
  transition: linear 250ms;
  font-style: italic;
  background-color: transparent;
  position: relative;
}

.delete-button:hover {
  border: 1px solid rgba(254, 2, 2, 0.496);
}

.close-button {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0;
  border: 1px solid #d5cabe;
  border-radius: 9999px;
  padding: 6px 24px;
  width: 72px;
  height: 35px;
  background: #fff;
  font-style: italic;
}
